doctype html
html(lang="en", ng-app="app")
    head
        meta(charset='UTF-8')
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        block title
            title BBC Assignment
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
        link(rel='stylesheet', href='/assets/css/style.css')

    body
        block content

        


        block scripts
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
            script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
            script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js")
            script(src="/assets/js/app.js")